<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Halaman Utama </title>

    <link rel="stylesheet" href="/static/app.css">
</head>
<body>

    <div class="container">
        <h1> Halaman Utama </h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quam beatae natus doloribus earum ratione vel odio suscipit itaque amet iusto vitae totam ducimus maxime obcaecati adipisci modi veritatis saepe.
        </p>
    </div>
</body>
</html>